
<div class ="h-100 row justify-content-center">
<div class="jumbotron">
    <h1 class="display-4">Welcome to Online Quiz Application</h1>
    <p class="lead">This is the application to help candidates prepare for coming interview.</p>
    <hr class="my-4">
    <p>Click a topic on navbar to process to Online Quiz or click Quiz button below</p> <br/>
    <input type=submit value="Click Here to Leadship Quiz" class="btn btn-secondary"  (click)="gotoQuiz1()" /> |
    <input type=submit value="Click Here to Biology Quiz" class="btn btn-secondary"  (click)="gotoQuiz2()" />
  </div>
</div>